<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.BoardMapper">  <!-- BoardVO 임포트해서 쓸수있게 지정 -->

	<sql id="criteria">
			<trim prefix="(" suffix=") AND " prefixOverrides="OR">
				<foreach item='type' collection="typeArr">
					<trim prefix="OR">
						<choose>
							<when test="type == 'T'.toString()">
								bdtitle like '%'||#{keyword}||'%'
							</when>
							<when test="type == 'C'.toString()">
								content like '%'||#{keyword}||'%'
							</when>
							<when test="type == 'W'.toString()">
								writer like '%'||#{keyword}||'%'
							</when>
						</choose>
					</trim>
				</foreach>
			</trim>
		</sql>

	<select id="getList" resultType="com.spring.domain.BoardVO">
	<![CDATA[
		select * from main_board where bdnum > 0 and delcheck='N'
		]]>
	</select>
	
	<insert id="insert">
		insert into main_board (bdnum, bdtitle,content,writer,regdate,delcheck)
		values (board_seq.nextval, #{bdtitle}, #{content}, #{writer},sysdate, #{delcheck})
	</insert>

	<insert id="insertSelectKey">

		<selectKey keyProperty="bdnum" order="BEFORE"
			resultType="long">
			select board_seq.nextval from dual
		</selectKey>

		insert into main_board (bdnum, bdtitle,content,writer,regdate,delcheck)
		values (#{bdnum},#{bdtitle}, #{content}, #{writer},sysdate,#{delcheck})
	</insert>
	
	<select id="read" resultType="com.spring.domain.BoardVO">
		select * from main_board where bdnum = #{bdnum}
	</select>
	
	<update id="delete">
		update main_board 
		set delcheck='Y'
		where bdnum = #{bdnum}
	</update>
	
	<update id="update">
		update main_board
		set bdtitle= #{bdtitle},
		content= #{content},
		writer = #{writer},
		correcdate = sysdate
		where bdnum = #{bdnum}
	</update>
	
	<select id="getListWithPaging"
		resultType="com.spring.domain.BoardVO">
  <![CDATA[
  select 
    bdnum, bdtitle, content, writer, regdate, correcdate, delcheck
  from 
      (
      select /*+INDEX_DESC(main_board pk_board) */
        rownum rn, bdnum, bdtitle, content, writer, regdate, correcdate, delcheck
      from 
        main_board
      where delcheck='N' and 
  ]]>
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							bdtitle like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
      
  <![CDATA[    
      rownum <= #{pageNum} * #{amount}
      )
  where rn > (#{pageNum} -1) * #{amount}   
  ]]>
	</select>

	
	<select id="getTotalCount" resultType="int">
		select count(*) from main_board 
		where
		<include refid="criteria"></include> 
		
		bdnum > 0
	</select>
	
	
</mapper>